.contact{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.contact-page{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-text-contact{
  display: flex;
  justify-content: center;
}
