.scroll-dots {
  position: fixed;
  right: 50px;
  top: 50%; /* Вертикальное положение точек по центру */
  transform: translateY(-50%);
  z-index: 1000; /* Передний план */
}

.scroll-dot {
  width: 9px;
  height: 9px;
  background-color: #ededed;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.scroll-dot.active{
    background-color: #00abf0;
}

.scroll-dot:hover {
  background-color: #00abf0;
}
.scroll-page{
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
