.scroll-dots {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  align-items: flex-start;
  gap: 30px;
}

.scroll-dot {
  width: 25px;
  height: 2px;
  background-color: #ededed;
  border-radius: 10px;
  cursor: pointer;
}
.scroll-dot.active{
    background-color: #00abf0;
  width: 45px;
}

.scroll-dot:hover {
  background-color: #00abf0;
}
.scroll-page{
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
