<div class="wrapper">
  <div class="header">
    <div class="logo">
     <a href="/" class="text-logo">Korpan</a>
    </div>
    <div class="header-right">
      <ul class="nav-bar">
        <li *ngFor="let item of navigateItems" class="nav-bar-item">
          <a #rla="routerLinkActive" routerLinkActive="active"
             [routerLink]="[item.customUrl]" >{{item.name}}</a>
        </li>
<!--        <li class="nav-bar-item"><a href="/">About</a></li>-->
<!--        <li class="nav-bar-item"><a href="/">Portfolio</a></li>-->
<!--        <li class="nav-bar-item"><a href="/">Contact</a></li>-->
      </ul>
    </div>
  </div>
</div>


