h1 {
  color: #ededed;
  font-size: 38px;
  transition: font-size 0.7s ease, padding 0.3s ease, line-height 0.7s ease;
  margin: unset!important;
  padding-bottom: 7px;
}

.text-blue-bold {
  font-size: 24px;
  color: #00abf0;
  font-weight: 500;
  margin: unset!important;
}
.text-white-tittle{
  color: #ededed;
}
.text-gray-white{
  color: rgb(153, 168, 189);
}

.highlight {
  color: #dd0031;
  font-weight: 400;
}

.highlight strong {
  display: inline-block;
}

.text-gray {
  color: rgb(148, 163, 184);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.highlight img.angular {
  vertical-align: sub;
}

.text-white {
  font-size: 22px;
  color: #ededed;
  font-weight: 400;
  line-height: 1.2;
}

.angular {
  width: 25px;
}

.bth {
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  cursor: pointer;
  padding: 14px 10px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.7s ease;

}

.bth:hover {
  background: transparent;
  color: #00abf0;
}

.bth:nth-child(2) {
  background: transparent;
  color: #00abf0;

}

.bth:nth-child(2):hover {
  background: #00abf0;
  color: #081b29;
}
