@import url('assets/style/style.css');


.block-main{
  background: #0c1020;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin: unset;
}
p,span{
  margin: unset;
}

.wrapper {
  max-width:1420px;
  margin:0 auto;
  padding: 0 15px;
}

::-webkit-scrollbar {
  width: 8px;

}
::-webkit-scrollbar-thumb {
  background-color: #00abf0;
  border-radius: 6px;
  height: 20px!important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00abf0;
}
