.home {
  display: flex;
  flex-direction: column;
}
.home-page-text {
  display: flex;
  gap: 10px;
  padding-bottom: 15px;
}
.home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-page-left {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  gap: 0.5rem;
}
.home-page-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-image {
  max-width: 370px;
}
.home-page-button:hover {
  padding-top: 0;
}
.bth img {
  vertical-align: middle;
  width: 15px;
}

@keyframes wave {
  0%, 100% {
    box-shadow:
      0 0 15px rgba(0, 255, 255, 0.6),
      0 0 30px rgba(0, 0, 255, 0.4),
      0 0 45px rgba(0, 255, 255, 0.3);
    transform: scale(1);
  }
  50% {
    box-shadow:
      0 0 20px rgba(0, 255, 255, 0.8),
      0 0 35px rgba(0, 0, 255, 0.6),
      0 0 50px rgba(0, 255, 255, 0.5);
    transform: scale(1.05); /* Легкое увеличение для эффекта "волн" */
  }
}
.profile-photo {
  position: relative;
  width: 200px; /* Укажите нужный размер */
  height: 200px;
  border-radius: 50%;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.animated-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid transparent;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 0, 255, 0.8);
  animation: wave 2s linear infinite;
  pointer-events: none; /* Исключает взаимодействие с обводкой */
}

