
.home{
 margin-top: 6em;
  display: flex;
  flex-direction: column;

}
h1:hover {
  font-size: 50px;
  padding-bottom: 0;
}
.text-white:hover{
  //font-size: 24px;
  padding-bottom: 0;
  padding-top: 10px;
}
.home-page-text{
  padding-bottom: 15px;

.text-blue-bold:hover{
  font-size: 32px;
}
}
.home-page-text:hover{
  //padding-top: 10px;
  //padding-bottom: 26px;
}
.home-page{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-page-left{
  display: flex;
  flex-direction: column;
  max-width: 780px;
  gap: 0.5rem;
}

.home-page-button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-image{
  max-width: 370px;
}
.home-page-button:hover{
  padding-top: 0;
}
.bth img{
  vertical-align: middle;
  width: 20px;
}
